$default-font: "roboto-example", sans-serif
$main-color: #191919
$accent: #d12f22
$16px: 0.95vmax
$18px: 1.07vmax
$20px: 1.19vmax
$22px: 1.31vmax
$32px: 1.9vmax
$36px: 2.14vmax
$40px: 2.38vmax

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width

